html {
    box-sizing: border-box;
    font-family: Open Sans;
}
body {
    margin: 0;
    background-color: rgb(244, 250, 255);
}
.nav-bar {
    background-color: rgb(4, 105, 187);
    margin: -10;
    overflow: hidden;
}

.forum-form input:hover {
    background-color: rgb(181, 238, 238);
}
.forum-form textarea:hover {
    background-color: rgb(181, 238, 238);
}

.forum-post {
    
}
.nav-bar-item {
    color : white;
    padding : 14px;
    text-decoration : none;
    float: left;
  display: block;
}
.nav-bar-links{
    color : white
}